.u-Search {
	position: absolute;
	top: 0;
	left: auto;
	right: 5em;
	
	.u-Search__button {
		width: 2em;
		height: 2em;
		top: 1em;
	}
}
.u-Masthead__vassar--link {
	font-family: "goudy-old-style", serif;
	font-weight: 100;
	font-size: 1.4em;
	color: #fff;

	svg {
		display: none;
	}
}

.vassarbar {
	.u-Masthead__vassar {
		margin: 0;
		
		.u-Masthead__vassar--link {
			color: #fff;
		}
	}
}

#navigation:target {
	z-index: 2;
}
@media (min-width: $small) {
	.u-lHeader {
		.u-Masthead__vassar {
			display: none;
		}
	}
	.vassarbar {
		background: $burgundy-1;
		padding: 0.6em;
	    position: relative;
	    z-index: 9;
	
		.u-Masthead__vassar {
			background: $burgundy-1;
		}
		.u-Masthead__vassar--link {
			color: #fff;
			text-decoration: none;
		}
		.icon-search svg,
		.icon-search svg:visited {
			fill: #fff;
		}

		@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
			height: 5rem;			
		}


		.u-Search {
			right: 1em;

			.u-Search__button {
				width: 1.4em;
				height: 1.4em;
				top: 0.8em;
			}
		}
	}
}


.u-Masthead__vassar {
	font-size: 1.8rem !important;
}


