.u-pageHome {
	.PageContent {
        background: transparent url(../images/Vassar_QuadGrid-grey.png) repeat;
        background-size: 3.44em;
    }
	&, body {
		padding: 0;
	}
	body {
		max-width: none;
	}
	#{$LAYOUT__contentContainer} {
		border: none;
	}
	.u-lContent,
	.u-lMain,
	.u-NavSite {
		float: none;
		width: auto;
		padding: 0;
	}
	.title--homepageModule {
		@extend .smallcapsTitle;
	}
	.row--facts {
		@media screen and (min-width: $large) {
			padding: 0 8em;
		}
	}
	.homepageModule__row {
		background: #fff;
	}
}
@import "_modules/all";
