.u-pageHome {
	
	&, body {
		padding: 0;
	}
	body {
		max-width: none;
	}
	a {
		@include no-nice-underlines();
	}
	.body-container {
		border: 0.6em solid #fff;
	}
	.u-lHeader,
	.profile__features {
	    background: none;
	    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQYV2NkwAKe3T/1nxFdHCQopWjGiCIBEwQphksgC8Il0AXBEtgEQRIAyTMXlUUwv28AAAAASUVORK5CYII=) repeat;
	}
	.u-lContent,
	.u-lMain,
	.u-NavSite {
		float: none;
		width: auto;
		padding: 0;
	}
	.title--homepageModule {
		@extend .smallcapsTitle;
	}
	.row--facts {
		@media screen and (min-width: $large) {
			padding: 0 8em;
		}
	}
}
@import "_modules/all";
