.u-pageInner {
	.u-Masthead__siteName {
		margin-top: 0;
		font-family: $serif;
		font-size: 2em;
	}
	.u-Masthead {
		.u-Masthead__vassar {
			border: none;
			margin-right: 0.3em;
			display: none;
		}
	}
}
