.indexletter {
	font-size: 2.6em;
	font-weight: 100;
	border: none !important;
	margin-bottom: 0 !important;
	margin-top: 0;
}
.list--alpha {
	.item__link {
		strong {
			font-weight: normal;
		}
	}
	.list__section {
		overflow: hidden;
		border-bottom: 1px solid #ddd;
		padding: 1em 0;
		
		.indexletter {
			float: left;
		}
		ul {
			@media (min-width: $small) {
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
				float: right;
				width: 88%;
			}
			@media (min-width: $medium) {
				-webkit-column-count: 2;
				-moz-column-count: 2;
				column-count: 2;
			}
			li {
				display: inline-block;
				width: 100%;
			}
		}
	}
}
.list--alpha--depts {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;
	margin-top: 2em;

	.indexletter {
		font-size: 1.2em;
		font-weight: bold;
	}
	.list__section {
		display: inline-block;
		width: 100%;
		margin-bottom: 1em;

		a {
		    font-size: 1.2em;
		}
	}
}
