/*	This module overrides styling in _modules/itemlist. */

.list--profiles {
	.item {
		.item__link {
			&:link {
				.item__title {
					.maintitle {
						color: $BASICSTYLE__link-color;
					}
				}
			}
			&:visited {
				.item__title {
					.maintitle {
						color: $BASICSTYLE__link-color--visited;
					}
				}
			}
			&:hover {
				*, *:visited {
					color: $BASICSTYLE__link-color !important;
				}
			}
			&:active {
				*, *:visited {
					color: $BASICSTYLE__link-color--active !important;
				}
			}
		}
		.profile__degrees {
		    margin-bottom: 0.4em !important;			
		}
		.item__image {
			// width: 16%;
			float: none;
			margin-right: 0;
			width: 100%;
		}
		.item__title {
			.subtitle {
				width: 90%;	
			}			
		}
		.item__title,
		.item__content {
			border: none;
		    padding: 0.4rem;
		    padding-left: 0;
			width: calc(100% - (20% + 1rem));

			@media (min-width: $small) {
				width: calc(100% - (16% + 1rem));
			}

			p {
				margin: 0;
				width: 75%;
			}
		}
		.item__content {
			padding-top: 0 !important;			
		}
		.item__link {
			&.link--degrees {
				background-image: none;
				/* font-size: 0.9em; */
				line-height: 1.2;
				display: block;
			}
			&.link--image {
				float: left;
				display: inline-block;
				width: 20%;
				overflow: hidden;
				max-height: 8.4em;	

				@media (min-width: $small) {
					width: 16%;					
				}
			}
		}
		.list--tags {
			.u-Bio__listItem {
				padding: 0.05em 0;
			}
			.u-Bio__listItem__link {
				font-size: 0.7em;
			}
		}
	}
}

.item__title .maintitle {
	@include very-nice-underlines(#aaa, #fff);
}
.item__list .item .item__title .maintitle {
    display: inline-block;
    background-position: 0 1.1em;
}

/*	This is for the version where one link contains all content. CSS above is for the version where each component had its own link, allowing for research interest tags with separate links. */

.list--profiles {
	.item {
		.item__title {
			max-width: none;
		}
		.item__imageContainer {
			float: left;
			max-height: 9em;
			overflow: hidden;
			width: 16%;
		}
	}
}


