.justfacts {
	max-width: 27em;
    margin: 0 auto;

	@media screen and (min-width: $large) {
		max-width: none;
		margin: auto;
	}
		
	.fact__fact {
		font-family: $sans-serif;
		font-weight: 100;
		letter-spacing: normal;		
		margin: 0;
		line-height: .7 !important;
		font-size: 5em;

		@media screen and (min-width: $large) {
			font-size: 5em;
		}
	}
	.fact__title {
		margin: 0;
		font-weight: 100;
		font-size: 1em;
		font-family: $sans-serif;
		font-style: italic;
        margin-bottom: 0;
	}
	.justfacts__list {
		margin-top: 1em;
		
		@extend .noBulletList;

		@media screen and (min-width: $small) {
			$cols: 2;
			-webkit-column-count: $cols;
			-moz-column-count: $cols;
			column-count: $cols;
			.justfacts__listItem {
				display: block;
                margin-bottom: 2.5em;
			}
		}
	}
}