.u-pageHome {
	.u-NavSite {
		top: 6em;
		
		.u-NavSite__item {
			@include no-nice-underlines();
		}
		
		@media screen and (min-width: $small) {
		    position: absolute;
			background: $homepage-mainbg;
			padding: 1em 1.2em;
			background: transparent !important;
			top: 2.4rem;
			right: 1rem;
		}
		/* Fixes layout issues in IE11 */
		@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
			top: 5rem;			
		}
	}
	.u-NavSite__item {
		@media screen and (min-width: $small) {
			transition: all 0.25s ease;
		}
    }
	.u-NavSite__itemContainer {
	    position: relative;
	    
    	.u-NavSite__item {
			&:link, &:visited {
				color: $homepage-textcolor;
			}
			&:hover, &:visited:hover {
				@media screen and (min-width: $small) {
					color: $homepage-mainbg;
				}
			}
		}

		@media screen and (min-width: $small) {
		    &:before {
			    content: "";
			    position: absolute;
			    top: 0;
			    left: 0;
			    height: 0;
			    width: 100%;
			    background: $burgundy-2;
				transition: all 0.25s ease;
		    }
		    &:hover:before {
			    height: 100%;
		    }
		    &:active:before {
			    background: $BASICSTYLE__link-color;
		    }
		}
	    &:hover {
	    	.u-NavSite__item {
		    	position: relative;
		    	z-index: 2;
		    	
		    	color: $homepage-mainbg;
	    	}
	    }
	}
	.u-NavSite__item {

		@media screen and (min-width: $small) {
			display: inline-block;
		    padding: 1em 0.5em;
	    }
	    
	    &:hover {
		    border: none;
	    }
	}
	.u-NavSite__level {
		@media screen and (min-width: $small) {
			@include inlinelist();
		}
	}
}


.u-pageHome .u-NavSite {
	background: transparent !important;
}
