@charset "UTF-8";
/* Site breakpoints */
/* 400px divided by 16px */
/* 600px divided by 16px */
/* 800px divided by 16px */
/* 1000px divided by 16px */
/*	This exists because I'm not sure what the final markup will be
	regarding the Vassarbar. I met with Ray today, and agreed that I'd use the 
	"alertBodyContainer bodyContainer" element as the new body element, even though
	it's only around when the alerts are active. This is a hack. */
/*	Typography
	---------- */
/*	Colors
	------ */
/*	Nav
	--- */
/*	Footer
	------ */
/*	Search
	------ */
/*	Non-bulleted list spacing
	------------------------- */
.centerMe {
  margin-left: auto;
  margin-right: auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.hide--visually {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0; }

.hide--completely {
  display: none; }

.margin-none {
  margin: 0; }

.padding-none {
  padding: 0; }

.no-appearance {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

@media screen and (min-width: 50em) {
  .position-absolute {
    position: absolute; } }
@media screen and (min-width: 37.5em) {
  .position-absolute {
    position: absolute; } }
@media screen and (min-width: 50em) {
  .position-absolute {
    position: absolute; } }
@media screen and (min-width: 62.5em) {
  .position-absolute {
    position: absolute; } }

.textAlign-center {
  text-align: center; }

.width-full {
  width: 100%; }

.width-half {
  width: 50%; }

.width-quarter {
  width: 25%; }

.width-third {
  width: 33%; }

/*	.width-standard is for a column of regular content	*/
.width-standard {
  max-width: 34em; }

/*	This contains all the most basic type styling a site will need.
	
	font: font-style font-variant font-weight font-size/line-height font-family;

$BASICSTYLE__h1: bold 1.4em $serif;
$BASICSTYLE__h2: bold 1.2em $serif;
$BASICSTYLE__h3: bold 1.1em $serif;
$BASICSTYLE__h4: bold 1em $serif;
$BASICSTYLE__h5: bold 0.9em $serif;
$BASICSTYLE__h6: bold 0.8em $serif;
$BASICSTYLE__p: 100 1.12em/1.3 $serif;
$BASICSTYLE__li: 100 1.12em/1.3 $serif;
$BASICSTYLE__blockquote: $serif 0.9em;

$BASICSTYLE__defaulttext-color: #333;
$BASICSTYLE__link-color: #00f;
$BASICSTYLE__link-color--hover: #f00;


$BASICSTYLE__selection-color: #ff0;

*/
a:link {
  color: #ce1e46; }
a:visited {
  color: #935966; }
a:hover, a:visited:hover {
  color: #000; }

::-moz-selection {
  background: #ccc; }

::selection {
  background: #ccc; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1 {
  font: 100 2.8em/1.1 Calluna; }

h2 {
  font: bold 1.4em Calluna; }

h3 {
  font: normal 1.2em Calluna; }

h4 {
  font: 600 1em "ff-basic-gothic-web-pro"; }

h5 {
  font: bold 0.8em Calluna; }

h6 {
  font: bold 0.8em Calluna; }

p {
  font: 100 1.12em/1.3 Calluna; }

li {
  font: 100 Calluna; }

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
  background-image: none;
  text-shadow: none;
  color: #333; }

/*	This module contains some basic nav styling that I use in all our sites. 
	
	//	current nav item color	
	$VASSAR-NAV__item-color--current: #f00;

*/
.u-NavSite {
  padding: 2rem; }

.u-NavSite__item--isCurrent {
  color: #000; }

/*
	$VASSAR-FOOTER__site-font: 1em $serif;	
*/
.u-VCard__adr,
.u-VCard__info,
.u-List--site {
  margin: 0 0 0.4em 0; }

.u-VCard__item.u-VCard__org {
  display: block;
  font: 1.2em Calluna;
  margin-bottom: 1em; }

.u-Masthead {
  text-align: center; }
  @media (min-width: 37.5em) {
    .u-Masthead {
      text-align: left; } }

/*
	Add the following to your site's config file
	--------------------------------------------

	$open-search__border-color: #eee
	
	$VASSAR-SEARCH__

*/
.js .u-Search {
  background: transparent;
  width: 2em; }
.js .u-Search__form {
  visibility: hidden;
  opacity: 0; }
.js .u-Search__button {
  display: block;
  margin: 0;
  padding: 0;
  width: 1.4em;
  right: 0;
  left: auto;
  text-align: right;
  height: 1.4em;
  top: 0.8em;
  background: none; }
.js:after {
  content: "";
  position: absolute;
  /*		    top: 0;
  		    left: 0;
  		    bottom: 0;
  		    right: 0; */
  height: 0em;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: all 2s; }
.js .u-lHeader,
.js .u-lMain,
.js .u-NavSite,
.js .u-lFooter {
  filter: blur(0) grayscale(0%);
  -webkit-filter: blur(0) grayscale(0%);
  transition: filter 0.5s; }
.js.searchOpen {
  overflow: hidden;
  border-color: #fff; }
  .js.searchOpen .u-Search, .js.searchOpen .u-Search__form {
    background: transparent; }
  .js.searchOpen .u-lHeader,
  .js.searchOpen .u-lMain,
  .js.searchOpen .u-NavSite {
    filter: blur(16px) grayscale(100%);
    -webkit-filter: blur(16px) grayscale(100%);
    opacity: 0.3;
    overflow: visible; }
  .js.searchOpen:after {
    opacity: 1; }
  .js.searchOpen .u-Search__form {
    visibility: visible;
    opacity: 1;
    max-height: none;
    overflow: visible; }
  .js.searchOpen .u-Search__button {
    display: none; }
  .js.searchOpen .u-Search__cancel {
    padding: 0;
    position: absolute;
    display: block;
    top: -3em;
    width: 1em;
    height: 1em; }
    .js.searchOpen .u-Search__cancel svg {
      position: absolute;
      width: 100%;
      height: 100%;
      fill: rgba(0, 0, 0, 0.4); }
  .js.searchOpen .u-Search__submit {
    background: transparent;
    width: 4em;
    height: 6rem;
    right: 0;
    left: auto; }
    .js.searchOpen .u-Search__submit svg {
      text-align: right;
      width: 2em;
      padding: 0;
      margin-right: 1em;
      fill: #444; }
  .js.searchOpen .u-Search {
    left: 1.4em;
    right: 1.4em;
    top: 30vh;
    width: auto;
    border: 1px solid #333;
    z-index: 1;
    background: transparent;
    height: 6em; }
    @media (min-width: 37.5em) {
      .js.searchOpen .u-Search {
        left: 4em;
        right: 4em; } }
    .js.searchOpen .u-Search .u-Search__field {
      height: auto;
      width: 80%;
      background: transparent;
      border: none;
      padding-left: 1.4em; }

.u-Search {
  position: absolute;
  top: 0;
  left: auto;
  right: 5em; }
  .u-Search .u-Search__button {
    width: 2em;
    height: 2em;
    top: 1em; }

.u-Masthead__vassar--link {
  font-family: "goudy-old-style", serif;
  font-weight: 100;
  font-size: 1.4em;
  color: #fff; }
  .u-Masthead__vassar--link svg {
    display: none; }

.vassarbar .u-Masthead__vassar {
  margin: 0; }
  .vassarbar .u-Masthead__vassar .u-Masthead__vassar--link {
    color: #fff; }

#navigation:target {
  z-index: 2; }

@media (min-width: 37.5em) {
  .u-lHeader .u-Masthead__vassar {
    display: none; }

  .vassarbar {
    background: #a70240;
    padding: 0.6em;
    position: relative;
    z-index: 9; }
    .vassarbar .u-Masthead__vassar {
      background: #a70240; }
    .vassarbar .u-Masthead__vassar--link {
      color: #fff;
      text-decoration: none; }
    .vassarbar .icon-search svg,
    .vassarbar .icon-search svg:visited {
      fill: #fff; } }
  @media screen and (min-width: 37.5em) and (-ms-high-contrast: active), screen and (min-width: 37.5em) and (-ms-high-contrast: none) {
    .vassarbar {
      height: 5rem; } }
@media (min-width: 37.5em) {
    .vassarbar .u-Search {
      right: 1em; }
      .vassarbar .u-Search .u-Search__button {
        width: 1.4em;
        height: 1.4em;
        top: 0.8em; } }
.u-Masthead__vassar {
  font-size: 1.8rem !important; }

/*
	$VASSAR-LISTCLEAN__item-space: 0.2em;	
*/
.list--clean {
  padding-left: 0; }
  .list--clean li {
    list-style: none;
    margin: 0.2em; }

/*
	Search results
	==============
	
	font: font-style font-variant font-weight font-size/line-height font-family

	$VASSAR-SEARCH__itemTitle-font: bold 1em/1.2 $serif;
	$VASSAR-SEARCH__item-font: normal 1em/1.2 $serif;
	$VASSAR-SEARCH__itemUrl-font: normal 0.9em/1.2 $sans-serif;

	$VASSAR-SEARCH__itemTitle-color-normal: #000;
	$VASSAR-SEARCH__itemTitle-color-visited: #888;
	$VASSAR-SEARCH__itemTitle-color-hover: #f00;
*/
/* previous styling */
.gs-result .gs-title, .gs-result .gs-title * {
  font: unset !important;
  color: unset !important; }

.gs-result .gsc-table-result .gs-title .gs-title {
  font: bold 1.4em "ff-basic-gothic-web-pro" !important; }
  .gs-result .gsc-table-result .gs-title .gs-title b {
    background: #ff0 !important;
    font: unset !important; }
  .gs-result .gsc-table-result .gs-title .gs-title:link {
    color: #000; }
  .gs-result .gsc-table-result .gs-title .gs-title:visited {
    color: #888; }
  .gs-result .gsc-table-result .gs-title .gs-title:hover, .gs-result .gsc-table-result .gs-title .gs-title:visited:hover {
    color: #f00; }
  .gs-result .gsc-table-result .gs-title .gs-title:active, .gs-result .gsc-table-result .gs-title .gs-title:visited:active {
    color: #f00; }

.gsc-tabHeader.gsc-inline-block.gsc-tabhActive,
.gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-short {
  display: none; }

.gs-bidi-start-align.gs-snippet {
  font: 1.2rem Calluna !important; }

.gsc-table-cell-thumbnail.gsc-thumbnail {
  width: 20%; }

.gsc-url-bottom {
  margin-top: 0.3em; }
  .gsc-url-bottom .gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-long {
    font: normal 1rem/1.2 "ff-basic-gothic-web-pro" !important; }
    .gsc-url-bottom .gs-bidi-start-align.gs-visibleUrl.gs-visibleUrl-long:hover {
      color: unset !important; }

img.gs-image {
  width: 100%; }

.gs-snippet:hover {
  color: unset !important; }

.gsc-results .gsc-cursor-box .gsc-cursor-page {
  border: none;
  text-decoration: none;
  text-align: center;
  max-width: 2.8rem; }

.gs-web-image-box,
.gs-promotion-image-box {
  width: auto !important; }

.gs-web-image-box img.gs-image,
.gs-promotion-image-box img.gs-promotion-image {
  max-width: none !important; }

.gsc-thumbnail {
  padding-right: 1em !important; }

/* We don't show the term people searched for. We should.
	
	This search box shows the term, but it's hidden for some reason.
	
	
.gsc-control-cse .gsc-control-wrapper-cse .gsc-search-box {
	display: block !important;
}
*/
.u-lMain .u-ArticleListItem a, .u-lMain .u-ArticleListItem a:hover,
.u-lMain .u-ArticleNavGroup a,
.u-lMain .u-ArticleNavGroup a:hover {
  background-image: none;
  text-shadow: none; }

.displayBlock, .questions__department,
.question__title {
  display: block; }

.noBulletList, .justfacts .justfacts__list, .questions__list {
  margin: 0;
  padding: 0; }
  .noBulletList li, .justfacts .justfacts__list li, .questions__list li {
    list-style: none; }

@media screen and (min-width: 50em) {
  .twocols {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }

.u-Search {
  position: absolute;
  top: 0;
  left: auto;
  right: 5em; }
  .u-Search .u-Search__button {
    width: 2em;
    height: 2em;
    top: 1em; }

.u-Masthead__vassar--link {
  font-family: "goudy-old-style", serif;
  font-weight: 100;
  font-size: 1.4em;
  color: #fff; }
  .u-Masthead__vassar--link svg {
    display: none; }

.vassarbar .u-Masthead__vassar .u-Masthead__vassar--link {
  color: #fff; }

#navigation:target {
  z-index: 2; }

@media (min-width: 37.5em) {
  .u-lHeader .u-Masthead__vassar {
    display: none; }

  .vassarbar {
    background: #882345;
    padding: 0.6em;
    position: relative;
    z-index: 9; }
    .vassarbar .u-Masthead__vassar {
      background: #882345; }
    .vassarbar .u-Masthead__vassar--link {
      color: #fff;
      text-decoration: none; }
    .vassarbar .icon-search svg,
    .vassarbar .icon-search svg:visited {
      fill: #fff; } }
  @media screen and (min-width: 37.5em) and (-ms-high-contrast: active), screen and (min-width: 37.5em) and (-ms-high-contrast: none) {
    .vassarbar {
      height: 5rem; } }
@media (min-width: 37.5em) {
    .vassarbar .u-Search {
      right: 1em; }
      .vassarbar .u-Search .u-Search__button {
        width: 1.4em;
        height: 1.4em;
        top: 0.8em; } }
.u-Masthead__vassar {
  font-size: 1.8rem !important; }

.u-Masthead__siteName--link:hover, .u-Masthead__siteName--link:visited:hover {
  color: #ce1e46; }

.u-Bio__list {
  padding-left: 0;
  margin-left: 0; }
  .u-Bio__list li {
    list-style: none; }
  .u-Bio__list .u-Bio__listItem {
    position: relative;
    padding: .1em 0;
    margin: 0; }
    .u-Bio__list .u-Bio__listItem:first-child {
      border: none; }
    .u-Bio__list .u-Bio__listItem a {
      border: none; }

.u-Bio__list.list--tags .u-Bio__listItem {
  border: none;
  display: inline-block;
  margin-right: 0.16em;
  padding: 0.15em 0; }
  .u-Bio__list.list--tags .u-Bio__listItem a {
    font-family: "ff-basic-gothic-web-pro";
    background: #F2EFE9;
    color: #696152;
    border-radius: .2em;
    padding: .2em .5em;
    font-size: .8em;
    font-weight: normal;
    background-image: none;
    text-shadow: none; }
  .u-Bio__list.list--tags .u-Bio__listItem a:hover {
    background: #e9e3d9;
    color: #696152;
    padding: .2em .5em;
    border-color: #d6ccb9; }

.u-biosInner .profilephoto__imagelink {
  display: inline-block;
  transition: all ease 0.4s; }
  .u-biosInner .profilephoto__imagelink:hover {
    opacity: 0.6; }
  .u-biosInner .profilephoto__imagelink .u-Figure {
    width: auto;
    float: none;
    margin: 0 0 1em 0; }

.item__list .item {
  border-top: 1px solid #E8E5DF;
  overflow: hidden;
  padding: 0.6em 0; }
  .item__list .item:first-child {
    border: none; }
  .item__list .item a {
    border: none; }
    .item__list .item a:link, .item__list .item a:visited {
      color: #000; }
    .item__list .item a:hover, .item__list .item a:visited:hover {
      color: #666; }
  .item__list .item .item__title,
  .item__list .item .item__content {
    float: right;
    width: calc(100% - (30% + 1rem)); }
  .item__list .item .item__title {
    float: right;
    margin: 0 0 0.2em 0;
    width: calc(100% - (30% + 1rem));
    font-weight: bold; }
    .item__list .item .item__title .maintitle {
      font-weight: bold; }
    .item__list .item .item__title .subtitle {
      color: #888;
      font-size: 0.8em;
      font-style: italic;
      margin-top: 0; }
    .item__list .item .item__title .supertitle {
      display: block;
      font-size: 0.6em;
      font-family: "ff-basic-gothic-web-pro";
      text-transform: uppercase;
      color: #888; }
    .item__list .item .item__title .maintitle, .item__list .item .item__title .supertitle, .item__list .item .item__title .subtitle {
      display: block; }
  .item__list .item .item__image {
    float: left;
    margin-right: 1rem;
    width: 30%; }
  .item__list .item .item__content p {
    font-size: 0.96em;
    line-height: 1.3; }
    .item__list .item .item__content p:last-child {
      margin: 0; }
  .item__list .item.item--noImage .item__title,
  .item__list .item.item--noImage .item__content {
    float: none;
    width: 100%; }

.list--inline .u-Bio__listItem {
  border: none;
  display: inline; }

.mod--acad {
  font-size: 0.9em;
  margin-top: 1em; }

.mod--websites .u-Bio__listItem:after {
  color: #aaa;
  content: "\00B7";
  padding: 0 0.3em 0 0.4em; }
.mod--websites .u-Bio__listItem:last-child:after {
  content: none; }

.body-container .u-Search {
  display: none; }

.u-Search__button,
.u-Search__cancel,
.u-Search__submit {
  box-sizing: border-box; }

.ac-NavAnchor.ac-NavAnchor--menu {
  color: #fff; }

.ac-NavAnchor--top svg {
  height: auto; }

.u-lFooter .u-VCard__label {
  font-size: 0.8em;
  font-weight: normal;
  text-transform: uppercase; }

.u-pageHome, .u-pageHome body {
  padding: 0; }
.u-pageHome body {
  max-width: none; }
.u-pageHome a {
  background-image: none;
  text-shadow: none; }
.u-pageHome .body-container {
  border: 0.6em solid #fff; }
.u-pageHome .u-lHeader,
.u-pageHome .profile__features {
  background: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAALElEQVQYV2NkwAKe3T/1nxFdHCQopWjGiCIBEwQphksgC8Il0AXBEtgEQRIAyTMXlUUwv28AAAAASUVORK5CYII=) repeat;
  background-attachment: fixed; }
.u-pageHome .u-lContent,
.u-pageHome .u-lMain,
.u-pageHome .u-NavSite {
  float: none;
  width: auto;
  padding: 0; }
@media screen and (min-width: 62.5em) {
  .u-pageHome .row--facts {
    padding: 0 8em; } }

.u-pageHome {
  	/*
  
  	.u-Masthead__vassar--link {
  		color: #aaa;
  	}
  
  	@media (min-width: $small) {
  		.u-Masthead__vassar {
  			border: none;
  			position: absolute;
  		    padding: 2.6rem 0 0.4rem 0;
  		    border-bottom: 1px solid rgba(0,0,0,0.1);
  		    margin-left: 2rem;
  		    margin-right: 2rem;
  
  			.u-Masthead__vassar--link {
  				&:link, &:visited {
  					color: #882345;
  				}
  				&:hover, &:visited:hover {
  					color: #000;
  				}
  			}
  		}	
  	}
  	*/ }
  .u-pageHome .u-lHeader {
    margin: 0;
    color: #000;
    border: none;
    padding: 0 2rem;
    padding-top: 6.8em; }
    @media screen and (min-width: 37.5em) {
      .u-pageHome .u-lHeader {
        padding-top: 3em; } }
  .u-pageHome .u-Masthead__siteName {
    margin-top: 0; }
  .u-pageHome .u-Masthead__siteName--link {
    color: #000;
    font-family: Calluna;
    font-weight: 100; }
  .u-pageHome .u-Masthead__siteName:after {
    display: none; }

.studies__list .study__link {
  font-family: Calluna;
  font-size: 1.6em;
  display: inline-block; }
  .studies__list .study__link:hover, .studies__list .study__link:visited:hover {
    color: #000; }
  .studies__list .study__link:after {
    content: "·";
    color: #aaa;
    margin: 0 .2em; }

.u-pageHome .u-NavSite {
  top: 6em;
  /* Fixes layout issues in IE11 */ }
  @media screen and (min-width: 37.5em) {
    .u-pageHome .u-NavSite {
      position: absolute;
      right: 1em;
      background: #F2EFE9;
      padding: 1em 1.2em;
      top: 2em; } }
  @media screen and (min-width: 37.5em) and (max-width: 50em) {
    .u-pageHome .u-NavSite {
      column-count: 2;
      width: 56%;
      text-align: right;
      top: 6em; } }
  @media screen and (min-width: 50em) {
    .u-pageHome .u-NavSite {
      background: transparent !important;
      top: 8rem;
      right: 1rem; } }
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    .u-pageHome .u-NavSite {
      top: 5rem; } }
@media screen and (min-width: 37.5em) {
  .u-pageHome .u-NavSite__item {
    transition: all 0.25s ease; } }
.u-pageHome .u-NavSite__itemContainer {
  position: relative; }
  .u-pageHome .u-NavSite__itemContainer .u-NavSite__item:link, .u-pageHome .u-NavSite__itemContainer .u-NavSite__item:visited {
    color: #000; }
  .u-pageHome .u-NavSite__itemContainer .u-NavSite__item:hover, .u-pageHome .u-NavSite__itemContainer .u-NavSite__item:visited:hover {
    color: #F2EFE9; }
  @media screen and (min-width: 37.5em) {
    .u-pageHome .u-NavSite__itemContainer:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 100%;
      background: #963B52;
      transition: all 0.25s ease; }
    .u-pageHome .u-NavSite__itemContainer:hover:before {
      height: 100%; } }
  .u-pageHome .u-NavSite__itemContainer:hover .u-NavSite__item {
    position: relative;
    z-index: 2;
    color: #F2EFE9; }
.u-pageHome .u-NavSite__item {
  display: inline-block; }
  @media screen and (min-width: 37.5em) {
    .u-pageHome .u-NavSite__item {
      padding: .12em; } }
  @media screen and (min-width: 50em) {
    .u-pageHome .u-NavSite__item {
      padding: 1em .5em; } }
  .u-pageHome .u-NavSite__item:hover {
    border: none; }
@media screen and (min-width: 50em) {
  .u-pageHome .u-NavSite__level {
    margin: 0;
    padding: 0; }
    .u-pageHome .u-NavSite__level li {
      display: inline;
      list-style: none; } }

.u-pageHome .u-NavSite {
  background: transparent !important; }

.justfacts {
  max-width: 27em;
  margin: 0 auto; }
  @media screen and (min-width: 62.5em) {
    .justfacts {
      max-width: none;
      margin: auto; } }
  .justfacts .fact__fact {
    font-family: "ff-basic-gothic-web-pro";
    font-weight: 100;
    letter-spacing: -.05em;
    margin: 0;
    line-height: 1;
    font-size: 5em; }
    @media screen and (min-width: 62.5em) {
      .justfacts .fact__fact {
        font-size: 6em; } }
  .justfacts .fact__title {
    margin: 0;
    font-weight: 100;
    font-size: 1em;
    font-family: Calluna;
    font-style: italic; }
  .justfacts .justfacts__list {
    overflow: hidden;
    margin-top: 1em; }
    @media screen and (min-width: 37.5em) {
      .justfacts .justfacts__list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2; }
        .justfacts .justfacts__list .justfacts__listItem {
          display: block; } }

.homepageModule {
  margin-bottom: 1.6em; }

.homepageModule__row {
  text-align: center; }
  @media screen and (min-width: 62.5em) {
    .homepageModule__row {
      text-align: left; } }

.title--homepageModule {
  margin-bottom: 1em; }

@media screen and (min-width: 62.5em) {
  .mod--half {
    width: 50%;
    float: left; }
    .mod--half:first-child {
      padding-right: 2em; }
    .mod--half:last-child {
      padding-left: 2em; } }

@media screen and (min-width: 37.5em) {
  .wide {
    width: 54%;
    float: right; } }

.homepageModule__row {
  overflow: hidden;
  padding: 3em; }
  @media screen and (min-width: 62.5em) {
    .homepageModule__row {
      padding: 3em 8em; } }

@media (min-width: 50em) {
  .u-Bio__mod {
    display: block;
    margin-bottom: 2em; } }

.questions__list {
  padding: 2em 0 1em 0;
  text-align: center; }

.row--questions .homepageModule {
  margin-bottom: 0;
  border-bottom: 3px solid #F2EFE9; }

.question__title {
  font-family: "ff-basic-gothic-web-pro";
  font-size: 2.8em;
  font-weight: 100;
  letter-spacing: -.04em; }

.questions__department {
  font-size: .9em;
  font-family: Calluna;
  margin-top: 1em; }

.questions__nav {
  margin: 1em 0 2em 0;
  padding: 0;
  text-align: center; }
  .questions__nav .questions__tab {
    list-style: none;
    display: inline;
    margin: 0 0.2em; }
    .questions__nav .questions__tab.active .questions__tabLink {
      background: #d5cfc2; }
  .questions__nav .questions__tabLink {
    background: #eae7e0;
    border-radius: 50%;
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    overflow: hidden;
    text-indent: 0;
    color: transparent; }
    .questions__nav .questions__tabLink:hover {
      background: #d5cfc2; }

@media screen and (min-width: 37.5em) and (max-width: 62.5em) {
  .homepageModule__row.row--questions {
    padding: 3em 3em 0 3em; } }

.js {
  /*	.ticker__item {
  		position: absolute;
  		opacity: 0;
  	} */ }
  .js .current {
    opacity: 1;
    position: static;
    transition: all 1s ease; }
  .js .ticker__item {
    display: none; }
    .js .ticker__item:first-child {
      display: block; }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.u-pageHome a {
  color: #a70240;
  border: none; }
.u-pageHome .profile__features {
  overflow: hidden;
  padding: 1rem; }
  @media screen and (min-width: 62.5em) {
    .u-pageHome .profile__features {
      padding: 1rem 2rem; } }
.u-pageHome .profile__features .profile__feature {
  padding: .2em;
  overflow: hidden; }
  .u-pageHome .profile__features .profile__feature .feature__title {
    margin-top: 0; }
    @media screen and (min-width: 25em) {
      .u-pageHome .profile__features .profile__feature .feature__title {
        width: 50%;
        float: right;
        padding-left: 0.7em; } }
    @media screen and (min-width: 37.5em) {
      .u-pageHome .profile__features .profile__feature .feature__title {
        width: 100%;
        float: none;
        padding: 0; } }
    .u-pageHome .profile__features .profile__feature .feature__title .title__item {
      display: block;
      font-weight: 100;
      font-family: Calluna;
      line-height: 1.1; }
    .u-pageHome .profile__features .profile__feature .feature__title .subtitle {
      font-style: italic;
      opacity: 0.6;
      font-size: 0.9em;
      /* letter-spacing: 0.04em; */
      margin-top: 0.1em; }
  .u-pageHome .profile__features .profile__feature:hover .feature__link:link, .u-pageHome .profile__features .profile__feature:hover .feature__link:visited {
    color: #fff; }
  .u-pageHome .profile__features .profile__feature:hover .subtitle {
    color: #c3bdaf !important;
    opacity: 1; }
  .u-pageHome .profile__features .profile__feature:hover .u-Figure:before {
    border-width: .2em; }
  .u-pageHome .profile__features .profile__feature:hover .feature__title:before {
    height: 100%; }
  .u-pageHome .profile__features .profile__feature:hover .feature__link {
    color: #000;
    position: relative;
    z-index: 2;
    padding-left: .6em; }
  .u-pageHome .profile__features .profile__feature .feature__link:link, .u-pageHome .profile__features .profile__feature .feature__link:visited {
    color: #000; }
  .u-pageHome .profile__features .profile__feature img {
    border: 1px solid #ccc; }
  .u-pageHome .profile__features .profile__feature .u-Figure {
    margin: 0;
    position: relative; }
    @media screen and (min-width: 25em) {
      .u-pageHome .profile__features .profile__feature .u-Figure {
        width: 50%;
        float: left; } }
    @media screen and (min-width: 37.5em) {
      .u-pageHome .profile__features .profile__feature .u-Figure {
        width: 100%;
        float: none; } }
    @media screen and (min-width: 62.5em) {
      .u-pageHome .profile__features .profile__feature .u-Figure {
        overflow: hidden;
        height: auto !important; } }
    .u-pageHome .profile__features .profile__feature .u-Figure:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 0px solid #000;
      border-bottom: none;
      transition: all 0.25s ease;
      z-index: 10; }
    .u-pageHome .profile__features .profile__feature .u-Figure img {
      -webkit-filter: grayscale(1);
      filter: grayscale(1); }
  @media screen and (min-width: 37.5em) {
    .u-pageHome .profile__features .profile__feature {
      width: 33.3%;
      float: left; } }
.u-pageHome .profile__features .feature__title {
  font-family: "ff-basic-gothic-web-pro";
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  position: relative; }
  @media screen and (min-width: 37.5em) {
    .u-pageHome .profile__features .feature__title:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: .2em;
      background: #fff;
      background: #963B52;
      color: #fff;
      transition: all 0.25s ease; } }
  .u-pageHome .profile__features .feature__title .feature__link {
    border: none;
    color: #fff;
    font-weight: 300;
    font-size: .8em;
    padding: .6em 0;
    padding-right: 1em;
    display: block;
    transition: all 0.25s ease; }
.u-pageHome .title--homepageModule {
  border-bottom: 1px solid #444;
  display: inline-block;
  padding-bottom: .6em; }
.u-pageHome .profile__feature:hover .u-Figure:before {
  border-width: .2em;
  border-color: #963B52; }

.u-pageInner .u-Masthead__siteName {
  margin-top: 0;
  font-family: "goudy-old-style";
  font-size: 2em; }
.u-pageInner .u-Masthead .u-Masthead__vassar {
  border: none;
  margin-right: 0.3em;
  display: none; }

/* .u-pageInner {
	@media (min-width: $small) {
		.u-lHeader {
			padding: 3em 0 1em 0;
			width: 20%;
			float: left;
		}
		.u-lMain {
			margin-top: 2.3em;
			padding: 0 0 0 3rem;
		}
		.u-Masthead__siteName {
			font-size: 1.6em;
			margin-top: 0;
			
			.u-Masthead__siteName--link {
				&:link, &:visited {
					color: #000;
				}
			}
		}
	}

	body {
		padding-top: 4em;
	}
	.u-Masthead__siteName {
		font-size: 1.6em;
		font-weight: bold;
		border-bottom: 1px solid #000;
	    display: inline-block;
	    padding-bottom: 0.4em;
	}
}
*/
/*	This styling is for horiz nav */
@media (min-width: 37.5em) {
  .u-pageInner .u-NavSite__level.u-NavSite__level--1 {
    margin: 0;
    padding: 0; }
    .u-pageInner .u-NavSite__level.u-NavSite__level--1 .u-NavSite__itemContainer {
      display: inline;
      list-style: none;
      margin-right: 0; }
      .u-pageInner .u-NavSite__level.u-NavSite__level--1 .u-NavSite__itemContainer .u-NavSite__item {
        display: inline-block;
        padding: 0.3em 0.4em; } }

.u-pageInner {
  padding: 0; }
  .u-pageInner .body-container {
    padding: 0 2rem;
    position: relative;
    max-width: 52rem; }
    @media (min-width: 37.5em) {
      .u-pageInner .body-container {
        margin-top: 2.6em; } }
  .u-pageInner .u-pageTitle {
    text-align: center; }
    @media (min-width: 50em) {
      .u-pageInner .u-pageTitle {
        text-align: left; } }
  .u-pageInner .u-lHeader {
    margin-bottom: 2em;
    overflow: hidden;
    padding: 6em 0 1em 0; }
    @media (min-width: 37.5em) {
      .u-pageInner .u-lHeader {
        padding: 1em 0;
        margin-bottom: 4em; } }
  .u-pageInner .u-Masthead__siteName {
    padding-top: 0.1em; }
  .u-pageInner .u-lMain {
    width: 100%;
    padding: 0;
    float: none; }
    @media (min-width: 37.5em) {
      .u-pageInner .u-lMain {
        padding-top: 0; } }
  @media (min-width: 50em) {
    .u-pageInner .u-NavSite {
      width: 40em;
      padding: 0 2rem;
      position: absolute;
      top: 1.6em;
      right: 0;
      text-align: right; } }
  @media (min-width: 37.5em) and (max-width: 50em) {
    .u-pageInner .u-NavSite {
      position: absolute;
      top: 0;
      right: 0;
      width: 58%; }
      .u-pageInner .u-NavSite .u-NavSite__level--1 {
        display: flex;
        flex-wrap: wrap; }
        .u-pageInner .u-NavSite .u-NavSite__level--1 .u-NavSite__itemContainer {
          width: 50%; }
        .u-pageInner .u-NavSite .u-NavSite__level--1 .u-NavSite__item {
          padding: 0.2em; } }

.u-pageInner .u-Masthead__siteName {
  margin-top: 0;
  font-family: "goudy-old-style";
  font-size: 2em; }
.u-pageInner .u-Masthead .u-Masthead__vassar {
  border: none;
  margin-right: 0.3em;
  display: none; }

/* .u-pageInner {
	@media (min-width: $small) {
		.u-lHeader {
			padding: 3em 0 1em 0;
			width: 20%;
			float: left;
		}
		.u-lMain {
			margin-top: 2.3em;
			padding: 0 0 0 3rem;
		}
		.u-Masthead__siteName {
			font-size: 1.6em;
			margin-top: 0;
			
			.u-Masthead__siteName--link {
				&:link, &:visited {
					color: #000;
				}
			}
		}
	}

	body {
		padding-top: 4em;
	}
	.u-Masthead__siteName {
		font-size: 1.6em;
		font-weight: bold;
		border-bottom: 1px solid #000;
	    display: inline-block;
	    padding-bottom: 0.4em;
	}
}
*/
/*	This styling is for horiz nav */
@media (min-width: 37.5em) {
  .u-pageInner .u-NavSite__level.u-NavSite__level--1 {
    margin: 0;
    padding: 0; }
    .u-pageInner .u-NavSite__level.u-NavSite__level--1 .u-NavSite__itemContainer {
      display: inline;
      list-style: none;
      margin-right: 0; }
      .u-pageInner .u-NavSite__level.u-NavSite__level--1 .u-NavSite__itemContainer .u-NavSite__item {
        display: inline-block;
        padding: 0.3em 0.4em; } }

.u-pageInner .u-lContent {
  padding: 0; }
@media (min-width: 37.5em) {
  .u-pageInner .u-lContent {
    padding-right: 0;
    width: 100%; } }
.u-pageInner .u-lHeader {
  border-bottom: 1px solid #aaa; }
.u-pageInner .u-Masthead {
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-direction: row-reverse;
  /* Safari 6.1+ */
  display: flex;
  flex-direction: column-reverse;
  float: left; }

/*	This template is for pages with sticky sidenav. If we ever need to add
	a page which uses this, add its class to the selector below (or add the
	"page--hasStickySideNav" class to the HTML tag).
*/
.page--hasStickySideNav .body-container,
.page--interests .body-container,
.page--profile .body-container {
  max-width: 62rem; }
@media (min-width: 50em) {
  .page--hasStickySideNav .u-pageTitle,
  .page--interests .u-pageTitle,
  .page--profile .u-pageTitle {
    width: 100%;
    display: inline-block; } }
.page--hasStickySideNav .u-PageNav,
.page--interests .u-PageNav,
.page--profile .u-PageNav {
  text-align: center;
  margin-top: 2em; }
  @media (min-width: 50em) {
    .page--hasStickySideNav .u-PageNav,
    .page--interests .u-PageNav,
    .page--profile .u-PageNav {
      text-align: left;
      position: sticky;
      position: -webkit-sticky;
      margin-left: -11.6em;
      height: 0;
      margin-top: -2em;
      margin-bottom: 2em;
      top: 2em;
      width: 9em; } }
.page--hasStickySideNav .u-lMain,
.page--interests .u-lMain,
.page--profile .u-lMain {
  display: flex;
  flex-direction: column-reverse; }
  @media (min-width: 50em) {
    .page--hasStickySideNav .u-lMain,
    .page--interests .u-lMain,
    .page--profile .u-lMain {
      flex-direction: row-reverse; } }
@media (min-width: 50em) {
  .page--hasStickySideNav .u-lContent,
  .page--interests .u-lContent,
  .page--profile .u-lContent {
    float: right;
    padding: 0 0 0 2em;
    width: 76%; } }
@media (min-width: 62.5em) {
  .page--hasStickySideNav .u-lContent,
  .page--interests .u-lContent,
  .page--profile .u-lContent {
    width: 82%; } }
.page--hasStickySideNav .u-lAside,
.page--interests .u-lAside,
.page--profile .u-lAside {
  display: none;
  /* blocks page nav in IE11 */ }
  @media (min-width: 50em) {
    .page--hasStickySideNav .u-lAside,
    .page--interests .u-lAside,
    .page--profile .u-lAside {
      padding-left: 0;
      width: 24%; } }
  @media (min-width: 62.5em) {
    .page--hasStickySideNav .u-lAside,
    .page--interests .u-lAside,
    .page--profile .u-lAside {
      width: 18%; } }

.u-Bio__details--tabbed .u-Bio__description {
  border: 1px solid #ccc;
  padding: 1.6em;
  width: 100%; }
.u-Bio__details--tabbed .u-Bio__description--short {
  overflow: hidden; }

.u-Bio__tablist {
  background: #fff;
  margin-bottom: -1px;
  padding-bottom: 0;
  padding-left: 0;
  position: relative;
  overflow: hidden;
  border: 0.3em solid #fff;
  border-bottom: none;
  border-left: none;
  border-right-width: 1px;
  margin-top: 0;
  /*
  	@media (min-width: $medium) {
  		float: right;
  	    width: 100%;
  	}
  */ }
  .u-Bio__tablist:after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ccc;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1; }
  .u-Bio__tablist .u-Bio__tab {
    display: inline-block;
    margin: 0; }
    .u-Bio__tablist .u-Bio__tab[aria-selected="true"] {
      border: 1px solid #ccc !important;
      border-bottom: none !important;
      border-top-left-radius: 0.25em;
      border-top-right-radius: 0.25em;
      background: #fff !important;
      position: relative;
      padding-bottom: 0.3em;
      z-index: 2; }
      .u-Bio__tablist .u-Bio__tab[aria-selected="true"]:after {
        content: "";
        position: absolute;
        width: 100%;
        border-bottom: 0.4em solid #fff;
        height: 0.1em;
        left: 0;
        bottom: -0.2em; }
      .u-Bio__tablist .u-Bio__tab[aria-selected="true"] .u-Bio__tabLink {
        color: #000; }
  .u-Bio__tablist .u-Bio__tabLink {
    background-image: none;
    text-shadow: none;
    color: #888;
    display: inline-block;
    font-family: "ff-basic-gothic-web-pro";
    font-weight: normal;
    font-size: 0.9em;
    padding: 0.7em 1em 0.25em 1em !important;
    text-transform: uppercase; }
    @media (min-width: 50em) {
      .u-Bio__tablist .u-Bio__tabLink {
        font-size: 0.7em; } }

.u-Bio__contactItemLabel {
  visibility: hidden;
  position: absolute; }

.u-Bio__contactInfo {
  margin: 0 !important; }
  .u-Bio__contactInfo a {
    border: none;
    background-image: none;
    text-shadow: none; }
  .u-Bio__contactInfo .u-Bio__contactItem {
    list-style-type: none;
    margin-bottom: 0;
    padding: .04em 0; }
  .u-Bio__contactInfo .u-Bio__contactItemLabel--box {
    position: static;
    visibility: visible; }
  .u-Bio__contactInfo .u-Bio__contactData {
    font-family: Calluna !important;
    font-size: 1em !important; }
  .u-Bio__contactInfo .u-Bio__contactItem--hours .u-Bio__contactItemLabel {
    visibility: visible;
    position: static;
    font-weight: bold; }
  .u-Bio__contactInfo .u-Bio__contactItem--hours .u-Bio__colon {
    display: inline; }

.u-biosInner .figure--image {
  border-top: 1px solid #ddd;
  overflow: hidden;
  padding: 0.3em 0; }
  .u-biosInner .figure--image figcaption {
    float: right;
    margin: 0;
    width: calc(100% - 9em); }
.u-biosInner .profilephoto__imagelink {
  display: inline-block;
  transition: all ease 0.4s;
  width: 7em;
  float: left;
  max-height: 7em;
  overflow: hidden; }

.u-Bio__section#photos > p {
  font: normal 0.85em/1.3 "ff-basic-gothic-web-pro";
  color: #777;
  margin-top: 2em; }

.u-Bio__section#publications p {
  font-size: 1em; }

.SocialAccount__iconList {
  margin: 0;
  padding: 0; }
  .SocialAccount__iconList .SocialAccount__iconContainer {
    display: inline;
    list-style: none;
    margin-right: 0.2em; }
    .SocialAccount__iconList .SocialAccount__iconContainer .u-NavSite__item {
      display: inline-block;
      padding: 0.3em; }
  .SocialAccount__iconList .SocialAccount__iconContainer {
    width: 1.4em;
    display: inline-block; }
    .SocialAccount__iconList .SocialAccount__iconContainer .SocialAccount__iconTarget {
      background: none;
      display: block;
      transition: ease 0.5s all; }
      .SocialAccount__iconList .SocialAccount__iconContainer .SocialAccount__iconTarget:hover {
        opacity: 0.4; }

.mod--researchinterests .u-Bio__listItem {
  border: none; }

.u-PageNav {
  padding-left: 0;
  margin-left: 0; }
  .u-PageNav li {
    list-style: none; }
  @media (min-width: 37.5em) and (max-width: 50em) {
    .u-PageNav {
      display: flex;
      flex-wrap: wrap;
      margin: 1em 0;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 1em 0; }
      .u-PageNav .u-PageNav__itemContainer {
        width: 33%; } }
  .u-PageNav a {
    background-image: none;
    text-shadow: none;
    color: #000;
    display: block;
    font-family: "ff-basic-gothic-web-pro";
    font-weight: normal;
    font-size: 0.9em;
    padding: 0.2em; }
    .u-PageNav a:hover {
      background: #F2EFE9; }
  .u-PageNav .current {
    background: #F2EFE9; }

.page--profile .onleave {
  margin-left: 0.4em;
  display: inline-block;
  padding: 0.2em 0.4em;
  margin-top: -0.3em; }
@media (min-width: 50em) {
  .page--profile .u-PageNav {
    margin-top: -5em;
    margin-bottom: 5em; } }
.page--profile .u-Bio__mod {
  clear: both;
  margin-bottom: 1em !important; }
.page--profile .u-Bio__photo {
  margin: 0 0 1em 0; }
  @media (min-width: 37.5em) {
    .page--profile .u-Bio__photo {
      width: 44%;
      float: left;
      padding: 0 1em .4em 0;
      margin: 0; } }

.onleave {
  background: #F2EFE9; }

.onleave {
  font-family: "ff-basic-gothic-web-pro";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.7em; }

.u-Bio__sectionheader {
  font-family: Calluna;
  font-weight: 100;
  border-bottom: 1px solid #eee;
  display: inline-block;
  font-size: 1.6em;
  margin-bottom: 1em; }

.u-Bio__section p {
  font: 100 1em/1.3 Calluna; }
.u-Bio__section .item .item__content, .u-Bio__section .item .item__content p {
  font-size: 1.04rem;
  font-weight: normal;
  line-height: 1.26; }

.u-Bio__description {
  font-weight: 100;
  line-height: 1.3; }
  .u-Bio__description ul {
    padding-left: 0; }
    .u-Bio__description ul li {
      list-style: none; }
      .u-Bio__description ul li:before {
        content: "\2022";
        margin-right: 0.4em; }
  .u-Bio__description p {
    font-family: Calluna;
    font-weight: 100;
    font-size: 1em;
    line-height: 1.3; }

.item__list .item a:link,
.item__list .item a:visited {
  color: #5A5A5A; }

.item__list .item a:hover,
.item__list .item a:visited:hover {
  color: #ce1e46; }

.u-biosInner h3 {
  border: none;
  padding-bottom: 0; }
.u-biosInner .u-Bio__section#stories a {
  background-image: none;
  text-shadow: none; }

.u-lAside {
  float: left; }

.u-ArticleNavGroup a, .u-ArticleNavGroup a:visited {
  color: #fff; }

.u-ArticleListItem {
  margin-bottom: 1em; }

.u-ArticleListItem__title {
  margin-top: 0; }

.u-ArticleGroup {
  margin-top: 2em; }

.alphaList__nav {
  overflow: hidden;
  padding: 0;
  margin: 2em auto;
  width: 20em; }
  @media (min-width: 50em) {
    .alphaList__nav {
      margin: 1em 0; } }
  .alphaList__nav li {
    background: #eee;
    float: left;
    list-style: none;
    margin: 0;
    display: inline-block;
    margin: 0 2px 2px 0;
    padding: 0.2em 0.4em;
    text-align: center;
    width: 1.5em;
    position: relative;
    font-size: 1.2em;
    font-weight: normal;
    color: #aaa; }
    .alphaList__nav li a:visited {
      color: #ce1e46; }
    .alphaList__nav li:hover {
      background: #aaa; }
      .alphaList__nav li:hover a, .alphaList__nav li:hover a:visited {
        color: #fff; }
    .alphaList__nav li.item--noLink, .alphaList__nav li.item--noLink:hover {
      background: #f9f9f9; }
    .alphaList__nav li strong {
      font-weight: normal; }
    @media (min-width: 50em) {
      .alphaList__nav li {
        font-size: 1em; } }
    @media (min-width: 62.5em) {
      .alphaList__nav li {
        font-size: 0.9em;
        display: inline; } }
    .alphaList__nav li a {
      background-image: none;
      text-shadow: none; }

.indexletter {
  font-size: 2.6em;
  font-weight: 100;
  border: none !important;
  margin-bottom: 0 !important;
  margin-top: 0; }

.list--alpha .item__link strong {
  font-weight: normal; }
.list--alpha .list__section {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 1em 0; }
  .list--alpha .list__section .indexletter {
    float: left; }
  @media (min-width: 37.5em) {
    .list--alpha .list__section ul {
      column-count: 2;
      float: right;
      width: 88%; } }
  @media (min-width: 50em) {
    .list--alpha .list__section ul {
      column-count: 2; } }
  .list--alpha .list__section ul li {
    display: inline-block;
    width: 100%; }

.list--alpha--depts {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  margin-top: 2em; }
  .list--alpha--depts .indexletter {
    font-size: 1.2em;
    font-weight: bold; }
  .list--alpha--depts .list__section {
    display: inline-block;
    width: 100%;
    margin-bottom: 1em; }
    .list--alpha--depts .list__section a {
      font-size: 1.2em; }

/*	This module overrides styling in _modules/itemlist. */
.list--profiles .item .item__image {
  float: none;
  margin-right: 0;
  width: 100%; }
.list--profiles .item .item__title .subtitle {
  width: 90%; }
.list--profiles .item .item__title,
.list--profiles .item .item__content {
  border: none;
  padding: 0.4rem;
  padding-left: 0;
  width: calc(100% - (20% + 1rem)); }
  @media (min-width: 37.5em) {
    .list--profiles .item .item__title,
    .list--profiles .item .item__content {
      width: calc(100% - (16% + 1rem)); } }
  .list--profiles .item .item__title p,
  .list--profiles .item .item__content p {
    margin: 0;
    width: 75%; }
.list--profiles .item .item__content {
  padding-top: 0 !important; }
.list--profiles .item .item__link.link--degrees {
  background-image: none;
  font-size: 0.9em;
  line-height: 1.2;
  display: block; }
.list--profiles .item .item__link.link--image {
  float: left;
  display: inline-block;
  width: 20%;
  overflow: hidden;
  max-height: 7.4em; }
  @media (min-width: 37.5em) {
    .list--profiles .item .item__link.link--image {
      width: 16%; } }
.list--profiles .item .list--tags {
  margin-top: 0.3em; }
  .list--profiles .item .list--tags .u-Bio__listItem {
    padding: 0.05em 0; }
  .list--profiles .item .list--tags .u-Bio__listItem__link {
    font-size: 0.7em; }

.department__sitelink {
  background-image: none;
  display: block;
  font-family: "ff-basic-gothic-web-pro";
  padding: 2em 0 1em 0; }
  .department__sitelink:visited {
    color: #a70240; }

.page--department .u-lMain {
  width: 100%;
  padding: 0; }
.page--department.layout1 .department__info {
  width: 50%;
  float: left;
  padding-right: 3em; }
.page--department.layout1 .item__list.list--profiles {
  width: 50%;
  float: right; }
.page--department.layout2 .item__list.list--profiles {
  column-count: 2;
  column-gap: 0.27em; }
.page--department.layout2 .item__list .item {
  overflow: hidden;
  display: inline-block;
  border: none;
  background: #f7f8f9;
  padding: 1em;
  padding-right: 0; }

.page--emeriti .list--clean li {
  margin-bottom: 1em; }

.page--faculty .list__item {
  margin-bottom: 0.9em; }
  .page--faculty .list__item .item__name {
    font-family: Calluna;
    margin: 0; }
  .page--faculty .list__item .item__title,
  .page--faculty .list__item .item__degrees {
    font-size: 1em;
    line-height: 1.25;
    margin: 0;
    padding-right: 0.6em; }
.page--faculty .item__link:link {
  color: #000; }
.page--faculty .item__link:visited {
  color: #777; }
.page--faculty .item__link:hover, .page--faculty .item__link:visited:hover {
  color: #ce1e46; }
.page--faculty .item__link:active, .page--faculty .item__link:visited:active {
  color: #ce1e46; }
.page--faculty .item__link strong {
  display: block; }

.u-folderResearch-interests.page--list .u-pageTitle {
  margin-bottom: 0.6em; }

.page--interests .u-PageNav {
  float: none;
  /*
  		@media screen and (min-width: $medium) {
  			height: 0;
  			margin-top: -2em;
  			margin-bottom: 2em;
  		}
  */ }
.page--interests .list--clean .list__item {
  margin: 0.4em 0; }

/*	Note: A lot of search results code is contained in ~vkit */
.gsc-tabsArea {
  display: none; }

body {
  max-width: none;
  margin: 0; }

figcaption .caption__text,
figcaption .caption__photocredit {
  display: block; }

.inlineList, .studies__list {
  margin: 0;
  padding: 0; }
  .inlineList li, .studies__list li {
    display: inline;
    list-style: none; }

.js .nojs {
  display: none; }

.Module {
  display: none; }

@media (min-width: 37.5em) {
  .u-lContent {
    width: 80%; } }

.u-lFooter {
  margin-top: 4em;
  float: left;
  width: 100%; }

.u-NavSite {
  padding: 0; }

.body-container {
  margin-left: auto;
  margin-right: auto; }

html {
  font-family: Calluna; }
  @media (min-width: 50em) {
    html {
      font-size: 1.4em;
      font-size: calc(.7em + 0.5 * ((100vw - 20em) / 60)); } }
  @media (min-width: 62.5em) {
    html {
      font-size: 1.4em;
      font-size: calc(.5em + 0.5 * ((100vw - 20em) / 60)); } }

li {
  font-weight: 100; }

h3 {
  display: inline-block;
  padding-bottom: 0.2em; }

h5 {
  letter-spacing: 0.06em;
  text-transform: uppercase; }

.u-pageTitle {
  margin: 0;
  font-family: Calluna;
  font-size: 2.8em;
  font-weight: 100;
  line-height: 0.94; }
  .u-pageTitle b {
    font-weight: 100; }
  .u-pageTitle .supertitle {
    font-size: 0.4em;
    font-style: italic;
    margin-left: 0.3em;
    font-weight: 100; }
    .u-pageTitle .supertitle .supertitle__link:link, .u-pageTitle .supertitle .supertitle__link:visited {
      color: #aaa; }
    .u-pageTitle .supertitle .supertitle__link:hover, .u-pageTitle .supertitle .supertitle__link:visited:hover {
      color: #444; }
  @media (min-width: 37.5em) {
    .u-pageTitle {
      margin-top: -0.2em; } }
  .u-pageTitle .maintitle {
    display: block; }
  .u-pageTitle .subtitle {
    font-size: 0.38em;
    font-weight: 100;
    display: block;
    padding-bottom: 1em;
    margin-top: 0.4em;
    font-style: italic;
    line-height: 1.2; }

.profile__departments {
  font-size: 0.9em;
  margin-bottom: 0.4em; }
  .profile__departments li {
    margin-right: 0.6em; }
    .profile__departments li:after {
      content: ","; }
    .profile__departments li:last-child:after {
      content: none; }

p em {
  -webkit-font-smoothing: antialiased; }

.u-lContent {
  font-family: Calluna;
  font-size: inherit; }

.u-NavSite__itemContainer .u-NavSite__item--isCurrent {
  font-weight: bold; }

figcaption {
  font-family: "ff-basic-gothic-web-pro";
  font-size: 0.84em;
  letter-spacing: -0.03em;
  padding: 0.6em 0 1em 0; }

.smallcaps {
  font-size: .8rem;
  font-family: "ff-basic-gothic-web-pro";
  text-transform: uppercase;
  font-weight: bold; }

.smallcapsTitle, .u-pageHome .title--homepageModule, .u-Bio__section#publications h3,
.u-Bio__description h3, .u-Bio__subheader {
  font-size: .9rem;
  font-family: "ff-basic-gothic-web-pro";
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: bold; }

a {
  border: none;
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  text-decoration: none;
  background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#aaa, #aaa);
  background-size: .05em 1px, .05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0 1.15em; }
  a else {
    background-position: 0% 1.1em, 100% 1.1em, 0% 1.1em; }
  a:before, a:after, a *, a *:before, a *:after {
    text-shadow: none; }
  a::-moz-selection {
    background-image: none;
    text-shadow: none;
    background: #ccc; }
  a::selection {
    background-image: none;
    text-shadow: none;
    background: #ccc; }

.u-NavSite:focus {
  outline: none; }

.u-Masthead__vassar--link,
.u-NavSite__item,
.u-Masthead__siteName--link,
.u-lFooter a,
.ac-NavAnchor {
  background-image: none;
  text-shadow: none; }

.u-Masthead__siteName--link:link, .u-Masthead__siteName--link:visited {
  color: #000; }

.u-lFooter {
  background: none; }
  .u-lFooter {
    position: relative; }
  .u-lFooter:before {
    content: "";
    position: absolute;
    border-top: solid 3px #E8E5DF;
    width: 30%;
    top: 0;
    top: 0;
    left: calc(50% - (30%/2)); }

.u-pageTitle .subtitle {
  color: #888; }

figcaption .caption__text {
  color: #444; }
figcaption .caption__photocredit {
  color: #aaa; }

.u-NavSite__itemContainer .u-NavSite__item:link, .u-NavSite__itemContainer .u-NavSite__item:visited {
  color: #666; }
.u-NavSite__itemContainer .u-NavSite__item:hover, .u-NavSite__itemContainer .u-NavSite__item:visited:hover {
  color: #ce1e46; }
.u-NavSite__itemContainer .u-NavSite__item--isCurrent {
  font-weight: bold; }
  .u-NavSite__itemContainer .u-NavSite__item--isCurrent:link, .u-NavSite__itemContainer .u-NavSite__item--isCurrent:visited {
    color: #000; }

/*! jQuery UI - v1.12.1 - 2017-10-02
* http://jqueryui.com
* Includes: core.css, tabs.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-front {
  z-index: 100; }

.ui-state-disabled {
  cursor: default !important;
  pointer-events: none; }

.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-tabs {
  position: relative;
  padding: .2em; }

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0; }

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap; }

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: .5em 1em;
  text-decoration: none; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text; }

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer; }

.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none; }

/*! jQuery UI - v1.12.1 - 2017-10-02
* http://jqueryui.com
* Copyright jQuery Foundation and other contributors; Licensed MIT */
.ui-helper-hidden {
  display: none; }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none; }

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse; }

.ui-helper-clearfix:after {
  clear: both; }

.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0); }

.ui-front {
  z-index: 100; }

.ui-state-disabled {
  cursor: default !important;
  pointer-events: none; }

.ui-icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -.25em;
  position: relative;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat; }

.ui-widget-icon-block {
  left: 50%;
  margin-left: -8px;
  display: block; }

.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.ui-tabs {
  position: relative;
  padding: .2em; }

.ui-tabs .ui-tabs-nav {
  margin: 0;
  padding: .2em .2em 0; }

.ui-tabs .ui-tabs-nav li {
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  margin: 1px .2em 0 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap; }

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: left;
  padding: .5em 1em;
  text-decoration: none; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
  margin-bottom: -1px;
  padding-bottom: 1px; }

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: text; }

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer; }

.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  padding: 1em 1.4em;
  background: none; }

body > p {
  display: none; }

.u-pageHome .u-lHeader {
  padding-bottom: 1em !important; }

.studies__list .study__link {
  font-size: 1.4em !important; }

.u-Search {
  display: none !important; }
