.profile__interests {
	display: flex;
}
.profile__interestsTitle {
	display: inline;
	float: left;
	font-family: $sans-serif;
	font-size: 0.75em;
	margin-right: 0.4em;
	text-transform: uppercase;
    padding-top: 0.15em;
}
.list--tags {
	line-height: 1.15;
	margin: 0;
	
	.u-Bio__listItem {
		font-size: 0.9em;
		display: inline-block;
		margin-right: 0.26em;
		
		&:after {
			content: ";";
		}
		&:last-child:after {
			content: none;
		}
	}
}