@media (min-width: $large) {
	html.g- {
		font-size: 100%;
	}
	.g- .PageContent {
		font-size: 1.4em;
		font-size: calc(0.55em + 0.5 * ((100vw - 20em) / 60));
	}
}

.g-Search__submit svg {
    width: 50% !important;
}
@media screen and (min-width: $small) {
	.g-Search__submit svg {
	    width: 50% !important;
	}
}