// .page--profile {
	.u-PageNav {
		@include unBulletedList();
	
		@media (min-width: $small) and (max-width: $medium) {
			display: flex;
			flex-wrap: wrap;
			margin: 1em 0;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			padding: 1em 0;
			
			.u-PageNav__itemContainer {
				width: 33%;
			}
			
			
			
		}
		.u-PageNav__itemContainer {
			.u-PageNav__item {
				@include no-nice-underlines();
				
				color: #000;
				display: block;
				font-family: $sans-serif;
				font-weight: normal;
				font-size: 0.9em;
				padding: 0.2em;
				
				&:hover {
					background: $gray-bg;
				}
			}
			&.current .u-PageNav__item {
				background: $gray-bg;
			}
		}
	}
// }