.u-biosInner {
	.figure--image {
	    border-bottom: 1px solid #ddd;
	    overflow: hidden;
	    padding: 0.3em 0;
		
		&:last-child {
			border: none;
		}
		
		figcaption {
			// float: right;
			// width: calc(100% - 9em);
			margin: 0;
		}
	}	
	.profilephoto__imagelink {
		display: inline-block;
		transition: all ease 0.4s;
		// width: 7em;
		// float: left;
		// max-height: 7em;
	    // overflow: hidden;

		width: 14em;
	}
}
.u-Bio__section#photos {
	.downloadInstructions {
		font: normal 0.85em/1.3 $sans-serif;
		color: #777;
	}
	.figure--image {
		border: none;
		padding: 0;

		@media (min-width: $small) {
			margin: 1em;
			margin-left: 0;
			width: calc(50% - 1em);
		}
	}
	.row {
		@media (min-width: $small) {
			display: flex;
			flex-wrap: wrap;
		}
	}
}