.u-lAside {
	float: left;
}
.u-ArticleNavGroup {
	a, a:visited {
		color: #fff;
	}
}
.u-ArticleListItem {
	margin-bottom: 1em;
}
.u-ArticleListItem__title {
	margin-top: 0;
}
.u-ArticleGroup {
	margin-top: 2em;
}